
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,500;1,600&display=swap');
body{
    font-family: 'Josefin Slab', serif;
}
:root{
    --primarycolor: #4f46e5;
}

nav{
    background-color: var(--primarycolor);
    text-align: center;
    box-sizing: border-box;
    display: block;
    margin-top: -2rem;
    margin-left: -1rem;
    margin-right: -1rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem ;

}
.textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 10vh;
    margin-top: 2rem;
    font-size: large;
    width: 590px;
    height: 100px;
    padding: 0.1rem;
    
}
.main{
 
    margin: auto;
    
    max-width: 600px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.button{
    background-color: var(--primarycolor);
    border: none;
    margin: 0rem ;
    padding: 0.9rem 2rem;
    font-size: large;
    margin-top: 0.5rem;
    margin-left: rem;
    border-style: ridge ;
}

.outputone{ 
     font-size: larger ;  
      margin-left: rem;
      border: 1px black solid;
      height: 10vh;
      width: 100%;
      padding: 1rem;
      min-height: 10vh;
      max-height: 20vh;
      overflow: scroll;
      box-sizing: border-box;
      width: 600px;
}
.footer{
    background-color: var(--primarycolor);
    text-align: center;
    margin-top: 1rem;
    box-sizing: border-box;
    display: block;
       margin-left: -1rem;
    margin-right: -1rem;
}
.hero{
    text-align: center;   
    padding-top: 0%; 
}
.hero-img  
{
    padding-top:0.1rem;

   
}
.hero-heading{
  margin: -1rem;
}
